@import "variables.css";
@import "normalize.css";
@import "font.css";
@import "reset.css";

/* colors defined in variables.css */
:root {
	/* font */
	--sans: "Atlas Grotesk", -apple-system, BlinkMacSystemFont, Helvetica, Arial, sans-serif;
	--serif: "Tiempos Text Web", Iowan Old Style, Times New Roman, Times, serif;
	--mono: Menlo, Consolas, Monaco, monospace;

	/* z-index */
	--z-bottom: -100;
	--z-middle: 0;
	--z-top: 100;
	--z-overlay: 1000;

	/* presets (used in reset.css) */
	--border-radius: 2px;
	--font-body: var(--serif);
	--font-form: var(--sans);
	--color-bg: var(--color-white);
	--color-bg2: var(--color-gray-100);
	--color-fg: var(--color-gray-800);
	--color-primary: var(--color-pink-aa);
	--color-secondary: var(--color-teal-aa);
	--color-link: var(--color-fg);
	--color-focus: var(--color-primary);
	--color-mark: var(--color-primary);
	--color-selection: var(--color-gray-300);
	--color-border: var(--color-gray-300);
	--color-button-bg: var(--color-fg);
	--color-button-fg: var(--color-bg);
	--color-button-hover: var(--color-gray-900);
	--color-input-bg: var(--color-gray-50);
	--color-input-fg: var(--color-gray-900);
	--color-placeholder: var(--color-gray-500);

	/* "1" second duration */
	--1s: 1ms;
}

/* dark theme */
/* this is a starting place for dark mode - test before deploying */

/* @media screen and (prefers-color-scheme:dark) {
	:root {
		--color-bg: var(--color-gray-900);
		--color-fg: var(--color-gray-100);
		--color-primary: var(--color-white);
		--color-link: var(--color-white);
		--color-focus: var(--color-red);
		--color-mark: var(--color-yellow);
		--color-selection: var(--color-gray-600);
		--color-border: var(--color-gray-600);
		--color-button-bg: var(--color-gray-600);
		--color-button-fg: var(--color-gray-100);
		--color-button-hover: var(--color-gray-700);
		--color-input-bg: var(--color-gray-800);
		--color-input-fg: var(--color-gray-100);
		--color-placeholder: var(--color-gray-400);
		--color-text-outline: var(--color-bg);
	}
} */

@media screen and (prefers-reduced-motion: no-preference) {
	:root {
		--1s: 1s;
	}
}

p, h1, h2, h3, h4, li, caption {
	font-size: var(--28px);
	line-height: 1.5;
}

h1, h2, h3, h4 {
	font-weight: bold;
}

section > p, section > h2, section > h3, section > h4, section > ul, section > ol, section > div {
	max-width: 700px;
	margin: 24px auto;
	padding: 0 16px;

}

section > h2 {
	margin-bottom: 0;
	padding-bottom: 0;
	margin-top: 64px;
}

section > div.c {
	margin-bottom: 64px;
}

section > figure, section > video {
	max-width: 800px;
	margin: 0 auto;
}

video {
	display: block;
	margin: 32px auto;
}